LagashServer/LagashServer/files/hd/*.png
LagashServer/LagashServer/files/original/*.png
LagashServer/LagashServer/files/thumbnail/*.png
LagashServer/LagashServer/files/hd/*.jpg
LagashServer/LagashServer/files/original/*.jpg
LagashServer/LagashServer/files/thumbnail/*.jpg
