LagashServer/LagashServer/files/hd/*.png
LagashServer/LagashServer/files/originales/*.png
LagashServer/LagashServer/files/thumbnails/*.png
LagashServer/LagashServer/files/hd/*.jpg
LagashServer/LagashServer/files/originales/*.jpg
LagashServer/LagashServer/files/thumbnails/*.jpg